@use "global" as *;

.blog {
  padding-top: rem(80);
  position: relative;
  @include mq(md) {
      padding-top: rem(95);
  }
  // @include mq(md) {
  //   padding-top: rem(100);
  //   background-image: url(../images/common/blog-bg.jpg);
  //   background-repeat:no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   max-height: rem(500);
  // }
}

.blog__bg {
  @include mq(md) {
    padding-top: rem(100);
    background-image: url(../images/common/blog-bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: rem(500);
    width: 100%;
    z-index: -1;
    top: 0;
  }
}

.blog__inner.inner{
  padding: 0 rem(21);
  max-width: rem(580);
  @include mq(md) {
      max-width: $inner;
      padding: 0 rem(25);
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  position: relative;
  right: 2px;
  @include mq(md) {
      margin-top: rem(82);
      right: rem(4);
  }
}

.blog__title.section-header__engtitle {
  @include mq(md) {
    color: $white;    
  }
}
.blog__title.section-header__engtitle span {
  @include mq(md) {
    color: $lightgreen; 
  }
}

.blog__title.section-header__jatitle {
  @include mq(md) {
    color: $white;
  }
}

.blog__block-img {
  display: none;
  @include mq(md) {
    display: block;
    max-width: rem(1290);
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding-left: rem(25);
    z-index: 1;
    max-height: rem(201);
    top: rem(24);
  
  }
}

.blog__block-img img {
  max-width: rem(437);
  display: inline-block;
}

