@use "global" as *;


.campaign {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(115);
  }
}

.campaign__swiper {
  margin-top: rem(6);

  @include mq(md) {
    margin-top: rem(18);
  }
}

.campaign__card {
  max-width: rem(280);
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: rem(10);
  height: auto;

  @include mq(md) {
    max-width: rem(333);
  }
}

// .campaign__card:hover {
//   opacity: 0.7;
// }

.campaign__card-item {
  height: 100%;
  // display: flex;
  // flex-direction: column;
}

.campaign__card-img img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  width: 100%;

  @include mq(md) {
    aspect-ratio: 333 / 223;

  }
}

.campaign__card-body {
  padding: rem(16) rem(16) rem(21);

  @include mq(md) {
    padding: rem(24) rem(16) rem(35);

  }
}

.campaign__card-category p {
  font-size: rem(12);
  font-family: $font-family-jp;
  color: $green;
  border: 1px solid $green;
  padding: rem(5) rem(12) rem(5) rem(10);
  display: inline-block;
  @include mq(md) {
      padding: rem(7) rem(15);
  }
}

.campaign__card-title {
  margin-top: rem(4);
  padding-bottom: rem(8);
  font-size: rem(16);
  font-family: $font-family-jp;
  font-weight: $medium;
  border-bottom: 1px solid $green;
}

.campaign__card-text {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-family: $font-family-jp;
  text-align: center;
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(12);
    text-align: start;
    margin-left: rem(56);
  }
}

.campaign__card-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(4);
  font-family: $font-family-la;
  @include mq(md) {
      justify-content: flex-start;
      margin-left: rem(20);
      margin-top: rem(3);
  }

}

.campaign__card-price-original {
  color: #C94800;
  text-decoration: line-through 3px;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(24);
  }

}

.campaign__card-price-original span {
  color: black;
  font-size: rem(20);
  font-weight: $bold;

  @include mq(md) {
    font-size: rem(24);
    
  }
}


.campaign__card-price-discount {
  font-size: rem(32);
  font-weight: $bold;
  color: $green;
  margin-left: rem(19);
  font-family: $font-family-la;
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(40);
    margin-left: rem(26);
  }
}

.campaign__button {
  text-align: center;
  margin-top: rem(30);
  // position: relative;
  // right: rem(2);
  @include mq(md) {
    margin-top: rem(70);
  }
}

.campaign__card-item {
  display: flex;
  flex-direction: column;
}

.campaign__card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.campaign__card-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

