@use "global" as *;


.campaign {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(115);
  }
}

.campaign__swiper {
  margin-top: rem(6);

  @include mq(md) {
    margin-top: rem(18);
  }
}

.campaign__card {
  max-width: rem(280);
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: rem(10);

  @include mq(md) {
    max-width: rem(333);
  }

}

.campaign__card-img img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  width: 100%;

  @include mq(md) {
    aspect-ratio: 333 / 223;

  }
}

.campaign__card-body {
  padding: rem(16) rem(16) rem(21);

  @include mq(md) {
    padding: rem(24) rem(16) rem(35);

  }
}

.campaign__card-category {
  font-size: rem(12);
  font-family: $font-family-jp;
  color: $green;
  border: 1px solid $green;
  padding: rem(5) rem(12) rem(5) rem(10);
  display: inline-block;
  @include mq(md) {
      padding: rem(7) rem(15);
  }
}

.campaign__card-title {
  margin-top: rem(4);
  padding-bottom: rem(8);
  font-size: rem(16);
  font-family: $font-family-jp;
  font-weight: $medium;
  border-bottom: 1px solid $green;
}

.campaign__card-text {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-family: $font-family-jp;
  text-align: center;
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(12);
    text-align: start;
    margin-left: rem(56);
  }
}

.campaign__card-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(4);
  font-family: $font-family-la;
  @include mq(md) {
      justify-content: flex-start;
      margin-left: rem(20);
      margin-top: rem(3);
  }

}

.campaign__card-price-original {
  color: #C94800;
  text-decoration: line-through 3px;
  font-size: rem(20);

  @include mq(md) {
    font-size: rem(24);
  }

}

.campaign__card-price-original span {
  color: black;
  font-size: rem(20);
  font-weight: $bold;

  @include mq(md) {
    font-size: rem(24);
    
  }
}


.campaign__card-price-discount {
  font-size: rem(32);
  font-weight: $bold;
  color: $green;
  margin-left: rem(19);
  font-family: $font-family-la;
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(40);
    margin-left: rem(26);
  }
}

.campaign__button {
  text-align: center;
  margin-top: rem(30);
  position: relative;
  right: rem(2);

  @include mq(md) {
    margin-top: rem(70);
  }
}

.swiper-container {
  position: relative;
}

.swiper {
  position: relative;
}

.swiper-wrapper {
  position: relative;
  
}


.swiper-button-wrapper {
  // padding-right: rem(180);
  max-width: rem(1080);
  margin-inline: auto;
  display: flex;
  justify-content: right;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  max-width: rem(80);
  width: 100%;
  bottom: rem(20);
  color: $green;

}
.swiper-button-prev {
      // top:rem(-20);
  // transform: translateY(-50%);
  // display: none;
  @include mq(md) {
    display: block;
  }
}
  
.swiper-button-prev::after {
  content: '';
  // position: absolute;
  // width: 20px;
  // height: auto;
  // aspect-ratio: 1;
  // border-right: 2px solid red;
  // border-bottom: 2px solid red;
  // //配置, 回転
  // transform: rotate(135deg);
}

.swiper-button-arrow-p {
  display: none;

  @include mq(md) {
    display: inline-block;
    // vertical-align: middle;
    line-height: 1;
    position: absolute;
    width: rem(40);
    height: rem(1);
    background: currentColor;
    // margin-left: rem(4);
    right: rem(110);
  }
}

.swiper-button-arrow-p::before {
  content: '';
  width: rem(6);
  border: 1px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(135deg);
  transform-origin: top right;
  position: absolute;
  // top: 50%;
  left: rem(-4);
}

.swiper-button-arrow-p::after {
  content: '';
  position: absolute;
  border: 1px solid $green;
  width: rem(80);
  height: rem(80);
  border-radius: 50%;
  bottom: rem(-38);
  right: rem(-20);
}



.swiper-button-next {
  //位置はここで指定
    // top:rem(-20);
  // transform: translateY(-50%);
  // display: none;
  @include mq(md) {
    display: block;
  }
}

.swiper-button-next::after {
  content: '';
  // position: absolute;
  // width: 20px;
  // height: auto;
  // aspect-ratio: 1;
  // border-right: 2px solid red;
  // border-bottom: 2px solid red;
  // //配置, 回転
  // transform: rotate(-45deg);

}


.swiper-button-arrow-n {
  display: none;

  @include mq(md) {
    display: inline-block;
    // vertical-align: middle;
    line-height: 1;
    position: absolute;
    width: rem(40);
    height: rem(1);
    background: currentColor;
    // margin-left: rem(8);
    right: rem(10);
  }
}

.swiper-button-arrow-n::before {
  content: '';
  width: rem(6);
  border: 1px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  // top: 50%;
  right: rem(-0.5);
}

.swiper-button-arrow-n::after {
  content: '';
  position: absolute;
  border: 1px solid $green;
  width: rem(80);
  height: rem(80);
  border-radius: 50%;
  bottom: rem(-38);
  right: rem(-20);
}