@use "global" as *;


.header__inner {
  padding: 0 rem(15);
  height: inherit;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
      padding-right: rem(20);
      padding-left: rem(40);
  }
}

.header__logo {
  max-width: rem(102);
  width: 100%;
  // height: inherit;
  @include mq("md") {
      max-width: rem(133);
  }
}


.header__logo img {
  // width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__pc-nav {
  display: none;
  height: inherit;
  @include mq("md") {
      display: block;
  }
}


.header__hamburger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: rem(32);
  height: inherit;
  cursor: pointer;
  transition: .2s;
  @include mq("md") {
      display: none;
  }
}

.header__hamburger.is-open {
  background-color: transparent;
}

.header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: rem(32);
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  transition: .3s;
}

.header__hamburger span:nth-of-type(1) {
  top: rem(-12);
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: rem(12);
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(39deg);
  width: rem(40);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: rem(-2);
  transform: translateX(-50%) rotate(-39deg);
  width: rem(40);

}

.header__drawer {
  padding:  0 rem(15);
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $green;
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
  display:none;
}

.header__drawer-top {
  padding-left: rem(15);
  display: flex;
  align-items: center;
  background-color: $green;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
  height: rem(80);

}

.header__drawer-nav {
  color: $white;
  column-count: 2;
  column-gap: 0;
  padding-top: rem(104);
}


.header__drawer-noscroll{
  overflow: hidden;
}



