@use "global" as *;

.information {
  background-color: $lightgreen;
  margin-top: rem(73);
  padding-top: rem(80);
  padding-bottom: rem(84);
  @include mq(md) {
      margin-top: rem(164);
      padding-top: rem(95);
      padding-bottom: rem(76);
    }
}

.information__inner.inner {
  max-width: rem(580);
  @include mq(md) {
      max-width: $inner;
  }
}

.information__wrapper {
  margin-top: rem(26);
  @include mq(md) {
      display: flex;
      justify-content: center;
      margin-top: rem(38);
  }
}

.information__image {
  aspect-ratio: 345 / 227;
  overflow: hidden;
  @include mq(md) {
    aspect-ratio: 540 / 356;
    width: 50%;
    right: rem(2);
  }
}

.information__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;  
}

.information__content {
  margin-top: rem(25);
  @include mq(md) {
      width: 50%;
      margin-top: rem(57);
      padding-left: rem(45);
  }
  
}

.information__subtitle {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1.3;
  border-bottom: 1px solid $green;
  padding-bottom: rem(2);
  @include mq(md) {
      padding-bottom: rem(5);
      font-size: rem(24);
  }
}

.information__text {
  margin-top: rem(8);
  line-height: calc(24 / 16);
  font-weight: $regular;
  @include mq(md) {
      padding-right: rem(4);
  }

}

.information__button {
  margin-top: rem(39);
  text-align: center;
  position: relative;
  right: rem(2);
  @include mq(md) {
      margin-top: rem(40);
      right: rem(4);
  }
}


