@use "global" as *;

.information {
  background-color: $lightgreen;
  margin-top: rem(74);
  padding-top: rem(80);
  padding-bottom: rem(84);
  @include mq(md) {
      margin-top: rem(164);
      padding-bottom: rem(76);
    }
}

.information__inner.inner {
  max-width: rem(580);
  @include mq(md) {
      max-width: $inner;
  }
}

.information__wrapper {
  margin-top: rem(24);
  @include mq(md) {
      display: flex;
  }
}

.information__image {
  aspect-ratio: 345 / 227;
  overflow: hidden;
  @include mq(md) {
    aspect-ratio: 540 / 356;
    width: 50%;
  }
}

.information__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;  
}

.information__content {
  margin-top: rem(24);
  @include mq(md) {
      width: 50%;
      margin-top: rem(61);
      padding-left: rem(48);
  }
}

.information__subtitle {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24 / 20);
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
  @include mq(md) {
      padding-bottom: rem(8);
  }
}

.information__text {
  margin-top: rem(8);
  line-height: calc(24 / 16);
  font-weight: $regular;

}

.information__button {
  margin-top: rem(40);
  text-align: center;
}


