@use "global" as *;

.price {
  background-color: $lightgreen;
  margin-top: rem(84);
  padding-top: rem(80);
  padding-bottom: rem(83);
  position: relative;
  @include mq(md) {
    margin-top: rem(144);
    padding-top: rem(94);
    padding-bottom: rem(104);
  
  }
}

.price__inner.inner {
  max-width: rem(580);
  @include mq(md) {
      max-width: $inner + strip-unit($padding-pc) * 2;
  }
}

.price__wrapper {
  margin-top: rem(27);
  @include mq(md) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: rem(40);

  }
}

.price__image-sp {
  aspect-ratio: 345 / 227;
  overflow: hidden;
  @include mq(md) {
    display: none;
  }
}

.price__image-pc {
  display: none;
  @include mq(md) {
    display: block;
    aspect-ratio: 492 / 746;
    overflow: hidden;
    max-width: rem(492);
    right: rem(2);
  
  }
}

.price__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;  
}

.price__content {
  margin-top: rem(40);
  @include mq(md) {
      margin-top: rem(0);
      max-width: rem(492);
      width: 100%;
  }
}

.price__subtitle {
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
}

.price__menu {
  display: flex;
  justify-content: space-between;
}

.price__course {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $regular;
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(6);
    line-height: 1.5;
  }  
}

.price__fee {
  margin-top: rem(8);
  margin-left: rem(40);
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $regular;
  display: flex;
  align-items: end;
  @include mq(md) {
      font-size: rem(16);
      line-height: 1.5;
      margin-left: rem(80);
      position: relative;
      top: rem(-2);
  }
}

.price__item + .price__item {
  margin-top: rem(39);
}

.price__button {
  margin-top: rem(39);
  text-align: center;
  position: relative;
  right: rem(2);
  @include mq(md) {
      margin-top: rem(80);
  }
}

.price__block-img {
  display: none;
  @include mq(md) {
    display: block;
    max-width: rem(1290);
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding-left: rem(25);
    z-index: 1;
    max-height: rem(201);
    bottom: rem(62);
  }
}

.price__block-img img {
  max-width: rem(437);
  display: inline-block;
}

