@use "global" as *;

.top-price {
  background-color: $lightgreen;
  margin-top: rem(84);
  padding-top: rem(80);
  padding-bottom: rem(83);
  position: relative;
  @include mq(md) {
    margin-top: rem(144);
    padding-top: rem(94);
    padding-bottom: rem(104);
  
  }
}
