@use "global" as *;

.top-header {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
  height: rem(80);
  background-color: rgba(13, 41, 54, 0.68);
  @include mq("md") {
      height: rem(90);
  }
  }


