@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////


$font-family-jp: 'Noto Sans JP', sans-serif;
$font-family-en: 'Gotu', sans-serif;
$font-family-subjp: 'Noto Serif JP', serif;


// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-family-jp;
}

// フォントウェイト
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$darkgreen: #0D2936;
$green: #408F95;
$lightgreen: #DDF0F1;
