@use "global" as *;

.about-us__inner{
  // position: relative;
  max-width: rem(580);
}

.about-us__wrapper {
  position: relative;
  margin-top: rem(28);
  @include mq(md) {
      margin-top: rem(40);
  }
}

.about-us__images {
  display: flex;
  justify-content: center;
}

.about-us__image1 {
  width: calc(128 / 345*100%);
  z-index: 1;
  aspect-ratio: 128 / 194;
@include mq(md) {
  width: calc(400 / 1080*100%);
  aspect-ratio: 400 / 606;

}
}

.about-us__image1 img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 400 / 606;
  }
}

.about-us__image2 {
  margin-top: calc(26 / 345*100%);
  margin-left: calc(-64 / 345*100%);
  width: 100% - (64 / 345*100%);
  min-width: rem(281);
  @include mq(md) {
    margin-top: calc(80 / 1080*100%);
    margin-left: calc(-200 / 1080*100%);
    width: 100% - (200 / 1080*100%);
  }
    

}

.about-us__image2 img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 880 / 581;
  }
}


.about-us__content {
  margin-top: rem(40);
  @include mq(md) {
      display: flex;
      max-width: rem(840);
      position: absolute;
      bottom: rem(222);
      right: rem(40);
      z-index: 3;
  }
}

.about-us__sub-title {
  font-size: rem(40);
  line-height: 1;
  font-family: $font-family-en;
  color: $green;
  font-weight: $regular;
  @include mq(md) {
      width: 50%;
      font-size: rem(80);
      color: $white;
      line-height: 1.25;
  }
}
.about-us__body {
  @include mq(md) {
      width: 50%;
      margin-left: rem(38);
  }
}
.about-us__text {
  margin-top: rem(16);
  font-size: rem(16);
  @include mq(md) {
      margin-top: rem(0);
      color: $white
  }
}

.about-us__button {
  margin-top: rem(49);
  text-align: center;
  position: relative;
  right: rem(2);
  // right: rem(9);(カンプに合わせるとこちら）
  @include mq(md) {
      margin-top: rem(40);
  }
}


.about-us::before {
  display: none;
  @include mq(md) {
    content: "";
    background-image: url("../images/common/about-picture1.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: rem(194);
    height: rem(181);
    position: absolute;
    bottom: rem(-90);
    z-index: 1;
    right: calc(50% - #{min(48vw, rem(637))});
  }
}



