@use "global" as *;

.aside-campaign__list + .aside-campaign__list {
  margin-top: rem(38);
  @include mq(md) {
      margin-top: rem(40);
  }
}

.aside-campaign__list--sub + .aside-campaign__list--sub{
  @include mq(md) {
      margin-top: rem(40);
  }
}
.archive-arrow {
  position: relative;
}

.archive-arrow::before{
	position: absolute;
	top: rem(6);
	bottom: 0;
	left: 0;
	content: "";
	width: rem(24);
	height: rem(24);
  background-image: url("../images/common/archive-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s;
}

.aside-archive__item-year.archive-arrow.is-open::before {
  transform: rotate(90deg);
  transform-origin: 25% 50% 0;
}


.aside-archive__item {
  font-size: rem(24);
  color: $green;
}

.aside-archive__item-year {
  cursor: pointer;
  padding-left: rem(28);
}
.aside-archive__item-mouths {
  display: none;
  margin-left: rem(25);
  margin-top: rem(2);
}

.aside-archive__item-mouth {
  padding-left: rem(26);
}

.aside-archive__item-mouth {
  display: block;
}
.aside-archive__item-mouth + .aside-archive__item-mouth{
  margin-top: rem(4);
}

.aside-archive__item:nth-of-type(2) {
  margin-top: rem(2);
}