@use "global" as *;

.blog-card__inner {
  padding: rem(16) rem(16) rem(23);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: $white;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  @include mq(md) {
      padding-bottom: rem(24);
      transition: all 0.3s;
  }
}

.blog-card__img {
  aspect-ratio: 301 / 201;
  overflow: hidden;
  @include mq(md) {
    max-width: rem(301);
    max-height: rem(201);
  }
}

.blog-card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
   // transition: .4s;
}


.blog-card__content {
  margin-top: rem(17);
  @include mq(md) {
      margin-top: rem(16);
  }
}

.blog-card__date {
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
  font-family: $font-family-en;
}

.blog-card__title {
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
}

.blog-card__text {
  margin-top: rem(16);
  @include mq(md) {
      margin-top: rem(15);
  }
}


.blog-card:hover {
  opacity: 0.9;
}