@use "global" as *;


.breadcrumb {
  position: relative;
  margin-top: rem(8);
}

.breadcrumb--404 {
  padding-top: rem(88);
  margin-top: rem(0);
  background-color: $green;
  color: #fff;
  @include mq(md) {
      padding-top: rem(98);
  }
}

.breadcrumb__list {
  display: flex;
  // margin-top: rem(8);
  // position: relative;
}

.breadcrumb__list-item {
  font-size: rem(14);
  margin-right: rem(8);
}

// .breadcrumb__list-item:not(:last-child)::after {
//   content: "";
//   display: inline-block;
//   width: rem(4);
//   height: rem(8);
//   background-image: url(../images/common/breadcrumb.svg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   margin-left: rem(8);
// }

.breadcrumb__list-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: rem(4);
  height: rem(8);
  mask-image: url(../images/common/breadcrumb.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: #000;
  margin-left: rem(8);
  @include mq(md) {
      width: rem(6);
      height: rem(10);
  }
}

.breadcrumb--404 .breadcrumb__list-item:not(:last-child)::after {
  // content: "";
  // display: inline-block;
  // width: rem(4);
  // height: rem(8);
  // mask-image: url(../images/common/breadcrumb.svg);
  // mask-repeat: no-repeat;
  // mask-size: cover;
  background-color: #fff;
  // margin-left: rem(8);
}

.breadcrumb::after{
  content: "";
  background-image: url("../images/common/voice-picture3.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(48);
  left: calc(50% - #{min(46vw, rem(275))});
  z-index: -1;
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(100);
    left: calc(50% - #{min(48vw, rem(620))}); 
  }
}

.breadcrumb-404::after {
  display: none;
}
