@use "global" as *;


.breadcrumb {
  position: relative;
}


.breadcrumb__list {
  display: flex;
  margin-top: rem(8);
  // position: relative;
}

.breadcrumb__list-item {
  font-size: rem(14);
  margin-right: rem(8);
 

}

.breadcrumb__list-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: rem(4);
  height: rem(8);
  background-image: url(../images/common/breadcrumb.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: rem(8);
}

.breadcrumb::after{
  content: "";
  background-image: url("../images/common/voice-picture3.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(48);
  left: calc(50% - #{min(46vw, rem(275))});
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(100);
    left: calc(50% - #{min(48vw, rem(620))}); 
  }
}

