@use "global" as *;


.button {
  background: $green;
  border: 1px solid $green;
  color: #fff;
  display:inline-block;
  font-size: rem(14);
  font-family: $font-family-en;
  max-width: rem(202);
  width: 100%;
  padding: rem(16) 0;
  text-align: center;
  // position: relative;
  // box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0), 4px 4px 0px 1px rgba(64, 143, 149, 1);
  cursor: pointer;
  // transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid $green;
  position: absolute;
  bottom: rem(-4);
  right:rem(-4);
  z-index: -2;
}


.button.slide {
  background: $green;
  color: #fff;
  // overflow: hidden;
  position: relative;
  z-index: 1;
}
.button.slide::after {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.button.slide:hover {
  color: $green;
}
.button.slide:hover::after {
  transform: scale(1, 1);
}

.button.slide input {
  color: #fff;
}

.button.slide:hover input{
  color: $green;
}



// 矢印
.button__arrow {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  width: rem(40);
  height: rem(1);
  background: currentColor;
  margin-left: rem(8);

}

.button__arrow::before {
  content: '';
  width: rem(9);
  border: 1px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: rem(-0.5);
}

//----------------------------------------

.button--white {
  background: #fff;
  border: 1px solid #fff;
  color: $green;
  display:inline-block;
  font-size: rem(14);
  font-family: $font-family-en;
  max-width: rem(202);
  width: 100%;
  padding: rem(16) 0;
  text-align: center;
  // box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0), 4px 4px 0px 1px rgba(64, 143, 149, 1);
  cursor: pointer;
  // transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.button--white::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  bottom: rem(-4);
  right:rem(-4);
  z-index: -2;
}


.button--white.slide {
  background: #fff;
  color: $green;
  // overflow: hidden;
  position: relative;
  z-index: 1;
}
.button--white.slide::after {
  background: $green;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.button--white.slide:hover {
  color: #fff;
}
.button--white.slide:hover::after {
  transform: scale(1, 1);
}


// 矢印
.button__arrow--white {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  width: rem(40);
  height: rem(1);
  background: currentColor;
  margin-left: rem(8);

}

.button__arrow--white::before {
  content: '';
  width: rem(9);
  border: 1px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  transform-origin: top right;
  position: absolute;
  top: 50%;
  right: rem(-0.5);
}

.button__arrow--contact {
  margin-left: rem(15);
}