@use "global" as *;

.filter-content__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(16) rem(21);
  position: relative;
  z-index: 1;
  @include mq(md) {
    grid-template-columns: repeat(4, #{rem(162)});
    gap: rem(0) rem(32)

  }
}
.filter-content__list-title {
  height: rem(34);
  text-align: center;
  border: 1px solid $green;
  padding: rem(6) 0;
  cursor: pointer;
  transition: all 0.3s;
  color: $green;
  background-color: #fff ;
  font-size: rem(14);
}

.filter-content__list-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.filter-content__list-title:hover {
  background: $green;
  color: #fff;
}

.filter-content__list-title.is-active {
  background: $green;
  color: #fff;
}
.filter-content__items {
  margin-top: rem(40);
  padding: 0 rem(32.5);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq(md) {
      padding: 0;
      grid-template-columns: 1fr 1fr;
      row-gap: rem(80);
  }
}

.filter-content__items--page-voice {
  padding: 0;
}

.filter-content__item{
  // max-width: rem(280);
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  height: auto;
  @include mq(md) {
    max-width: rem(520);
  }
}

