@use "global" as *;

.gallery__inner {
  max-width: rem(580);
}
.gallery__list {
  margin-top: rem(40);
  display: grid;
  gap: rem(8);
  @include mq(md) {
    margin-top: rem(80);
      grid-template:
      "A B B" #{rem(369)}
      "A C C" #{rem(369)}
      "D D F" #{rem(369)}
      "E E F" #{rem(369)}
      / calc(492 / 1080 * 100%) calc(80 / 1080 * 100%) calc(492 / 1080 * 100%);
  }
}

.gallery-list img {
  height: 100%;
  object-fit: cover;
}

@include mq(md) {
  [data-area="A"] {
      grid-area: A;
      }
      [data-area="B"] {
      grid-area: B;
      }
      [data-area="C"] {
      grid-area: C;
      }
      [data-area="D"] {
      grid-area: D;
      }
      [data-area="E"] {
      grid-area: E;
      }
      [data-area="F"] {
          grid-area: F;
          }
}
  
  
/* モーダル */
.gallery__modal {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(20, 20, 20, 0.80);
  z-index: 1010;
  // padding: rem(100);
  overflow-y: scroll;
  list-style: none;
  padding: rem(91) rem(15);
}

.gallery__modal img {
  display: block;
  margin: auto;
  max-width: rem(920);
  // aspect-ratio: 1/1;
  width: 100%;
  // max-height: 80%;
  object-fit: cover;
  z-index: 1010;
  // height: 100%;
}



html.is-fixed {
  overflow: hidden;
}
