@use "global" as *;

.gallery__inner {
  max-width: rem(580);
}
.gallery__list {
  margin-top: rem(40);
}

.gallery-list__item  {
  @include mq(md) {
    cursor: pointer;
  }
}
  
  
/* モーダル */
.gallery__modal {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(20, 20, 20, 0.80);
  z-index: 1010;
  // padding: rem(100);
  overflow-y: scroll;
  list-style: none;
  padding: rem(91) rem(15);
}

// .gallery__modal .gallery-list__item {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;

// }

.gallery__modal img {
  display: block;
  margin: auto;
  max-width: rem(920);
  // aspect-ratio: 1/1;
  width: 100%;
  // max-height: 80%;
  object-fit: cover;
  z-index: 1010;
  // height: 100%;
}



html.is-fixed {
  overflow: hidden;
}
