@use "global" as *;

.gallery-list {
  display: grid;
  gap: rem(8);
  @include mq(md) {
    margin-top: rem(80);
      grid-template:
      "A B B" #{rem(369)}
      "A C C" #{rem(369)}
      "D D F" #{rem(369)}
      "E E F" #{rem(369)}
      / calc(492 / 1080 * 100%) calc(80 / 1080 * 100%) calc(492 / 1080 * 100%);
  }
}

.gallery-list img {
  height: 100%;
  object-fit: cover;
}

@include mq(md) {
  [data-area="A"] {
      grid-area: A;
      }
      [data-area="B"] {
      grid-area: B;
      }
      [data-area="C"] {
      grid-area: C;
      }
      [data-area="D"] {
      grid-area: D;
      }
      [data-area="E"] {
      grid-area: E;
      }
      [data-area="F"] {
          grid-area: F;
          }
}
  
  

