@use "global" as *;

.page-top {
  position: fixed;
  margin-bottom: rem(16);
  right: rem(15);
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
  border: 1px solid $green;
  cursor: pointer;
  background-color: $white;
  z-index: 100;
  @include mq(md) {
    right: rem(20);
    width: rem(80);
    height: rem(80);
    margin-bottom: rem(20);
  }
}
.page-top:hover {
  opacity: 0.6;
}

.page-top__yazirusi {
  display: inline-flex;
  transform: rotate(-90deg);
  position: relative;
  right: rem(1);
  top: rem(3);
  @include mq(md) {
      
  }
}

.page-top__yazirusi::after {
  content: '';
  width: rem(28);
  height: rem(8);
  border-bottom: solid 1px;
  border-right: solid 1px;
  position: relative;
  bottom: rem(2);
  transform: skew(45deg);
  @include mq(md) {
    width: rem(40);
    height: rem(6);
    bottom: 0;
  }
}

// body {
//   position: relative;
// }