@use "global" as *;


.top-page-sitemap a,
.top-page-sitemap span {
  color: #000;
}


.page-sitemap__inner {
  max-width: rem(580);
}

.page-sitemap .footer__nav {
  margin-top: rem(52);
  @include mq(md) {
      margin-top: rem(150);
  }
}