@use "global" as *;

.page-teams__inner {
  @include mq(md) {
      max-width: rem(850);
  }
} 

.page-teams__lists {
// list-style: auto;
list-style-type: decimal;
list-style-position: inside;
}

.page-teams__lists li {
  text-indent: -1em;
  padding-left: 1em;
}
.page-teams__read,
.page-teams__text,
.page-teams__lists {
  line-height: 2;
  
}

.page-teams__read,
.page-teams__item {
  margin-top: rem(40);
}