@use "global" as *;


.page-price__inner {
  max-width: rem(580);
  @include mq(md) {
      max-width: rem(750);
  }
}

.page-price__content {
  @include mq(md) {
      display: flex;
  }
}
.page-price__table {
  border-collapse: collapse;
  width: 100%;
  @include mq(md) {
      max-width: rem(700);
      // margin-inline: auto;
  }
  
}

.page-price__title,
.page-price__table td {
  border: 1px solid $green;
}

.page-price__table-col {
  background-color: $green;
  color: #fff;
  padding-top: rem(7);
  padding-bottom: rem(7);
  text-align: center;
  @include mq(md) {
    display: none;
  }
}

.page-price__title {
  font-weight: $bold;
  background-color: $green;
  color: #fff;
  padding-top: rem(7);
  padding-bottom: rem(7);
  text-align: center;
  // display: none;
  @include mq(md) {
      display: block;
      max-width: rem(200);
      width: 100%;
      background-color: $green;
      color: #fff;
      text-align: center;
      display: flex; /* Flexbox を適用 */
      flex-direction: column; /* 垂直方向にアイテムを配置 */
      align-items: center; /* 垂直方向に中央寄せ */
      justify-content: center; /* 水平方向に中央寄せ */
      padding: 0;
    
  }
}


.page-price__title::before {
  content: "";
  background-image: url("../images/common/price-icon.svg");
  background-size: contain;
  display: inline-block;
  width: rem(24);
  height: rem(24);
  margin-bottom: rem(-5);
  margin-right: rem(8);
  @include mq(md) {
      display: none;
  }
}

.page-price__title::after {
  display: none;
  @include mq(md) {
    content: "";
    background-image: url("../images/common/price-icon.svg");
    background-size: contain;
    display: block;
    width: rem(64);
    height: rem(64);
    margin-inline: auto;
    margin-top: rem(8);
    align-self: center; /* アイコンを垂直方向に中央寄せ */
  }     
}

.page-price__table-course {
  // width: 50%;
  width: calc(240 / 345)* 100%;
  text-align: center;
  height: rem(60);
  @include mq(md) {
      width: rem(340);
      text-align: start;
      padding-left: rem(16);
      height: rem(59);
  }
}

.page-price__table-fee {
  // width: 30%;
  width: calc(100% - (240 / 345)* 100%);
  text-align: end;
  padding-right: rem(16);
  @include mq(md) {
      width: rem(162);
  }
}

.page-price__content + .page-price__content {
  margin-top: rem(40);
  @include mq(md) {
      margin-top: rem(80);
  }
}