@use "global" as *;

.top-page-contact {
  margin-top: rem(50);
  @include mq(md) {
      margin-top: rem(148);
  }
}

.page-contact__inner {
  max-width: rem(580);
  width: 100%;
  @include mq(md) {
      max-width: rem(750);
  }
}



.form__wrap {
  padding-bottom: rem(24);
  border-bottom: 1px dashed $green;
  @include mq(md) {
    display: flex;
    // align-items: center;
    padding-bottom: rem(40);     
  }
}

.form__wrap.form__wrap--textarea {
  @include mq(md) {
    align-items: flex-start;
  }
}


.form__wrap + .form__wrap {
  margin-top: rem(21);
  @include mq(md) {
      margin-top: rem(39);
  }
}
  


.form__label {
  // display: flex;
  // align-items: center;
  font-size: rem(16);
  font-weight: $bold;
  @include mq(md) {
      max-width: rem(220);
      width: 100%;
  }
}



.form__label span {
  margin-left: rem(8);
  padding: rem(2) rem(12);
  display: inline-block;
  font-size: rem(12);
  font-weight: $regular;
  color: #fff;
  background-color: #C94800;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
}

.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
  margin-top: rem(16);
}
@media screen and (min-width: 768px) {
.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
    margin-top: 0;
    width: 100%;
  }
}

.form__radio {
  @include mq(md) {
    margin-top: rem(2);
  }
}


.form__input,
.form__textarea {
  flex-grow: 1;
}

.form__submit {
  margin-top: 3.75rem;
  text-align: center;
}

.form-input input {
  padding: rem(7) rem(16);
  width: 100%;
  font-size: rem(16);
  border: 1px solid $green;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
}

.form-input input:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}

/* オートフィルで入力後の水色背景を変える */
input:-webkit-autofill {
	box-shadow: 0 0 0 1000px #fff inset;
}

.form-select select {
  padding: rem(12) rem(8);
  width: 100%;
  font-size: rem(12);
  line-height: 1.2;
  border-radius: 0;
  border: 1px solid $green;
  background-image: url(./../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-size: rem(12);
  background-position: right rem(6) top rem(15);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

/* IEで矢印を消す */
.form-select select::-ms-expand {
  display: none;
}

/* 選択時の枠線の色を変える */
.form-select select:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}

.form-radio label {
  display: block;
}
// @media screen and (min-width: 768px) {
//   .form-radio label {
//     display: inline-block;
//   }
// }

.form-radio label:not(:first-of-type) {
  margin-top: rem(3);
}
@media screen and (min-width: 768px) {
  .form-radio label:not(:first-of-type) {
    margin-top: rem(4);
  }
}

.form-radio input {
  /* display: none; */
  display: block;
  height: 15px;
  opacity: 0;
  position: absolute;
  width: 3px;
  z-index: -1;
}

.form-radio input + span {
  padding: 0 0 0 rem(22);
  position: relative;
  display: block;
  font-size: rem(16);
  // line-height: 1;
  cursor: pointer;
}
// @media screen and (min-width: 768px) {
//   .form-radio input + span {
//     display: inline-block;
//   }
// }


.form-radio input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid $green;
  display: block;
  width: rem(14);
  height: rem(14);
}

.form-radio input + span::after {
  content: "";
  margin-top: -0.125rem;
  position: absolute;
  top: 50%;
  left: rem(3);
  transform: translateY(-35%) rotate(-30deg);
  display: block;
  width: rem(9);
  height: rem(5);
  border-bottom: 2px solid #C94800;
  border-left: 2px solid #C94800;
  transition: 0.3s;
  opacity: 0;
}


.form-radio input:checked + span::after {
  opacity: 1;
}

// .form-checkbox label {
//   display: block;
// }
// @media screen and (min-width: 768px) {
//   .form-checkbox label {
//     display: inline-block;
//   }
// }

// .form-checkbox label:not(:first-of-type) {
//   margin-top: 0.625rem;
// }
// @media screen and (min-width: 768px) {
//   .form-checkbox label:not(:first-of-type) {
//     margin-top: 0;
//     margin-left: 1.25rem;
//   }
// }

// .form-checkbox input {
//   /* display: none; */
//   display: block;
//   height: 15px;
//   opacity: 0;
//   position: absolute;
//   width: 3px;
//   z-index: -1;
// }

// .form-checkbox input + span {
//   cursor: pointer;
//   display: inline-block;
//   padding: 0 0 0 1.5625rem;
//   position: relative;
//   font-size: 0.9375rem;
//   line-height: 1;
// }

// .form-checkbox input + span::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   background: #fff;
//   border: 1px solid #ccc;
//   display: block;
//   width: 0.9375rem;
//   height: 0.9375rem;
// }

// .form-checkbox input + span::after {
//   content: "";
//   margin-top: -0.125rem;
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%) rotate(-45deg);
//   display: block;
//   width: 0.9375rem;
//   height: 0.5rem;
//   border-bottom: 0.1875rem solid #000;
//   border-left: 0.1875rem solid #000;
//   transition: 0.3s;
//   opacity: 0;
// }

// .form-checkbox input:checked + span::after {
//   opacity: 1;
// }

.form-textarea textarea {
  padding: rem(8) rem(16);
  width: 100%;
  height: rem(200);
  font-size: rem(16);
  border-radius: 0;
  border: 1px solid $green;
  -webkit-appearance: none;
  -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
}

.form-textarea textarea:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}

.form__privacyCheck {
  margin-top: rem(40);
  // padding: 0 8.5333% 0 16.2666%;
  font-size: rem(14);
  padding-left: rem(31);
  padding-right: rem(22);
  @include mq(md) {
      margin-top: rem(80);
      padding: 0;
  }
}

.form__privacyCheck-wrapper {
  padding-left: rem(30);
  margin-inline: auto;
  max-inline-size: max-content;
  position: relative;
  @include mq(md) {
      padding-left: rem(38);
  }
}

.form__privacyCheck-wrapper input + span::before {
  content: "";
  position: absolute;
  top: rem(11);
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid $green;
  display: block;
  width: rem(22);
  height: rem(22);
}

.form__privacyCheck-wrapper input + span::after {
  content: "";
  position: absolute;
  top: rem(9);
  left: rem(5);
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: rem(12);
  height: rem(8);
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transition: 0.3s;
  opacity: 0;
}

.form__privacyCheck-wrapper input:checked  + span::after {
  opacity: 1;
}

.form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq(md) {
      margin-top: rem(40);
  }
}
// .form-submit input {
//   padding: 1.5625rem 7.8125rem;
//   display: inline-block;
//   font-size: 1rem;
//   font-weight: bold;
//   line-height: 1;
//   background-color: #7fc7e6;
//   background-image: none;
//   border: none;
//   border-radius: 0;
//   text-decoration: none;
//   cursor: pointer;
//   transition: 0.3s;
//   opacity: 0.6;

// }

// .form-submit input.form-submit-active {
// 	opacity: 1;
// }

// .form-submit input:hover,
// .form-submit input:focus {
//   outline: none;
// }

// @media screen and (min-width: 768px) {
//   .form-submit input:hover {
//     opacity: 0.8;
//   }
// }

// .form-submit input::-moz-foucus-inner {
//   padding: 0;
//   border: none;
// }


::placeholder {
  color: $lightgreen;
}

// input:invalid {
//   border: solid 1px red;
// }

.form-textarea textarea {
  display: block;
}