@use "global" as *;

.page-campaign__inner {
  max-width: rem(580);
}


.page-campaign {

  .campaign-card__title {
    @include mq(md) {
      font-size: rem(24);
      flex-grow: 0;
      padding-bottom: rem(4);
    }
  }

  .campaign-card__body {
    @include mq(md) {
      padding: rem(24) rem(24) rem(20);
      flex: 0;
    }
  }

  .campaign-card__text {
    margin-top: rem(7);
  @include mq(md) {
      margin-top: rem(20);
  }
  }

  .campaign-card__price {
    @include mq(md) {
        margin-top: rem(0);
    }
  }


  .campaign-card__price-discount {
    @include mq(md) {
      margin-left: rem(40); 
    }
  }

}
