@use "global" as *;

.page-campaign__inner {
  max-width: rem(580);
}

.page-campaign__wrapper {
  padding: 0 rem(24) rem(40);
  @include mq(md) {
  }
}

.page-campaign__text {
  flex-grow: 1;
}

.page-campaign__date {
  margin-top: rem(30);
  font-family: $font-family-la;
  font-weight: $bold;
  text-align: center;
  color: $green;
}

.page-campaign__info-text {
  margin-top: rem(3);
  font-size: rem(14);
  text-align: center;
  color: $green;
}

.page-campaign__info-button {
  margin-top: rem(17);
  text-align: center;
}

// .page-campaign--title {
//   @include mq(md) {
//       font-size: rem(24);
//   }
// }

.page-campaign .campaign-card__title {
    @include mq(md) {
      font-size: rem(24);
      flex-grow: 0;
      padding-bottom: rem(4);
  }
}

.page-campaign .campaign-card__body {
  @include mq(md) {
    padding: rem(24) rem(24) rem(20);
    flex: 0;
  }
}

.page-campaign .campaign-card__text {
  margin-top: rem(7);
@include mq(md) {
    margin-top: rem(20);
}
}

.page-campaign .campaign-card__price {
  @include mq(md) {
      margin-top: rem(0);
  }
}


.page-campaign .campaign-card__price-discount {
  @include mq(md) {
    margin-left: rem(40); 
  }
}