@use "global" as *;

.page-privacy__inner {
@include mq(md) {
    max-width: rem(850);
}
} 

.top-page-privacy{
  margin-top: rem(52);
  @include mq(md) {
      margin-top: rem(150);
  }
}

.page-privacy__lists {
// list-style: auto;
list-style-type: decimal;
list-style-position: inside;
}

.page-privacy__lists li {
  text-indent: -1em;
  padding-left: 1em;
}
.page-privacy__read,
.page-privacy__text,
.page-privacy__lists {
  line-height: 2;
  
}

.page-privacy__read,
.page-privacy__item {
  margin-top: rem(40);
}