@use "global" as *;

.page-about-us {
  margin-top: rem(52);
  position: relative;
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-about-us.about-us::before {
  // content: none;
}

.page-about-us--sp {
  margin-top: rem(52);
}
.page-about-us--sp .about-us__image2 {
  margin-top: rem(0);
  margin-left: rem(0);
  width: auto;
}

.page-about-us--sp .about-us__content {
  margin-top: calc(-205 / 345)*100%;
}

.page-about-us--sp .about-us__sub-title {
  color: #fff;
  padding-left: rem(24);
  padding-left: calc(24 / 345)*100%;
}

.page-about-us--sp .about-us__body {
  margin-top: calc(164 / 345)*100%;
}


.page-about-us--pc {
  margin-top: rem(150);
  position: relative;
}
.page-about-us--pc .about-us__content {
  @include mq(md) {
    bottom: calc(262 / 661)*100%;;
  }
}

.page-about-us--pc .about-us__body {
  margin-top: rem(24);
}

.page-about-us--pc.about-us::before {
  background-image: url("../images/common/contact-picture6.png");
  position: absolute;
  @include mq(md) {
    top: rem(701);
    width: rem(304);
    height: rem(144);
    right: calc(50% - #{min(48vw, rem(640))});

  }

}