@use "global" as *;

.page-sub-blog__heading {
  position: relative;/*あしらいの上にくるように*/
}

.page-sub-blog__body figure {
  margin-top: rem(24);
  aspect-ratio: 301 / 201;
  overflow: hidden;
  @include mq(md) {
    max-width: rem(700);
    max-height: rem(468);
    margin-top: rem(39);
  }
}

.page-sub-blog__body figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s;
}

.page-sub-blog__img {
  margin-top: rem(24);
  aspect-ratio: 301 / 201;
  overflow: hidden;
  @include mq(md) {
    max-width: rem(700);
    max-height: rem(468);
    margin-top: rem(39);
  }
}

.page-sub-blog__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s;
}


.page-sub-blog__date {
  font-size: rem(14);
  line-height: calc(18 / 12);
  font-weight: $regular;
  font-family: $font-family-en;
}

.page-sub-blog__title {
  font-size: rem(24);
  line-height: calc(24 / 16);
  font-weight: $medium;
  border-bottom: 1px solid $green;
  padding-bottom: rem(3);
  margin-top: rem(5);
  @include mq(md) {
      font-size: rem(32);
      margin-top: rem(4);
      padding-bottom: 0;
  }
}


.page-sub-blog__body p {
  margin-top: rem(24);
  @include mq(md) {
      margin-top: rem(40);
  }
}

.page-sub-blog__body ul {
  margin-top: rem(24);
  @include mq(md) {
      margin-top: rem(40);
  }
}

.page-sub-blog__body li{
  position: relative;
  padding-left: rem(27);
}

.page-sub-blog__body li + .page-sub-blog__body li {
  margin-top: rem(4);
}

.page-sub-blog__body li::before {
  content: "";
  -webkit-mask-image: url("../images/common/_ヒトデ.svg") no-repeat center center / contain;
  mask-image: url("../images/common/_ヒトデ.svg");
  mask-repeat: no-repeat;
  // mask-position: center center;
  mask-size:  contain;
  width: rem(18);
  height: rem(18);
  background-color: $green;
  position: absolute;
  top: rem(4);
  left: 0;
}
