@use "global" as *;

.voice-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.voice-list__item {
  background-color: #333;
}


