@use "global" as *;

.voice-card__header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.voice-card__lead {
  border-bottom: 1px solid $green;
  width: calc(150 / 313)*100%;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    margin-top: rem(23);
    width: calc(276 / 472)*100%;
  }
}

.voice-card__meta {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-card__age {
  font-size: rem(12);
  line-height: calc(18 / 12);  
}

.voice-card__category {
  font-size: rem(12);
  color: $green;
  border: 1px solid $green;
  padding: rem(3) rem(11);
  display: inline-block;
  line-height: calc(22 / 12);
  @include mq(md) {
      padding: rem(6) rem(15);
  }
}

.voice-card__subtitle {
  margin-top: auto;
  // margin-top: rem(4);
  padding-bottom: rem(4);
  font-size: rem(16);
  font-family: $font-family-jp;
  font-weight: $medium;
  line-height: 1.4;
  @include mq(md) {
    font-size: rem(24);
    // margin-top: rem(9);
  }
}

.voice-card__img {
  margin-top: rem(9);
  margin-left: rem(12);
  max-width: rem(151);
  aspect-ratio: 151 / 117;
  position: relative;
  z-index: -1;
  @include mq(md) {
    max-width: rem(180);
    aspect-ratio: 180 / 140;
    margin-top: rem(0);
    margin-left: rem(16);
    // max-height: rem(140);
  }
}

.voice-card__img img {
  // max-width: rem(151);
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
      // max-height: rem(140);
  }
}

.voice-card__text {
  font-size: rem(16);
  margin-top: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  @include mq(md) {
    margin-top: rem(40);
  }
}


